extends layout

block content
	!{alert_message}
	center
		h1!{listing_info.title}
	br

	div(class="col-lg-6")
		ul(style="list-style:none;" )

			li(style="decorations:none;")
				img(src=image_location style="height:300px;width:300px;border-radius:19x;")
			br
			li(style="color:black;")

				b
					p| State:  !{listing_info.state}
					
			li(style="color:black;")

				b
					p| City: !{listing_info.city}
			li(style="color:black;")

				b
					p| Cost: !{listing_info.price} /per month
			li(style="color:black;")

				b
					p| Bedrooms: !{listing_info.bedrooms}
			li(style="color:black;")

				b
					p| Bathrooms: !{listing_info.bathrooms}

			div(class="jumbotron")
				li
					u
						b
							h3 Description:
					p| !{listing_info.description}

	div(class="col-lg-3")
			form(action=message_sender, method="POST" style="Color:black;")
				legend(style="color:black;")
					b 
						| Send a message to the owner
				fieldset
					label(for="email") Your email:
					br
					input(type="text" name="email" class="form-control" style="width:200px;")
					br
					label(for="message") Message:
					br
					textarea(name="message" class="form-control")
					br
					input(type="submit" class="btn btn-primary" placeholder="Example:Can we see more photos?...."  value="Send message") 
