extends layout

block content
	center
		h1 Search
	br
	div(class="col-lg-3 hidden-sm hidden-xs")
		div(class="jumbotron" style="background-color:pink;border-radius:90px;border-style:solid;border-color:skyblue;border-width:5px;")
			form(action="/search" method="POST")
				legend Search for apartments	
				div(class="form-group")
					label(for="housing_type") Housing Type:				
					select(name="housing_type" class="form-control" required)
						Option(default) 	
						Option(value="Apartment") Apartment
						Option(value="Houses") House
					label(for="bedrooms") Bedrooms:
					input(type="number"  placeholder="Bedrooms" name="bedrooms" class="form-control" required)
					label(for="bathrooms") Bathrooms:
					input(type="number"  placeholder="Bathrooms" name="bathrooms" class="form-control" required)
					label(for="state" ) State:
					select(name="state" class="form-control" required)
						each state in state_options
							option(value=state.abbreviation) #{state.abbreviation}		
					label(for="city") City:
					input(type="text" placeholder="City" name="city" class="form-control" required)
					br
					u
						b
							| Budget:
					label(for="min") Min $:
					input(type="number" class="form-control" name="min" placeholder="Minimum...?" required)
					label(for="max") Max $:
					input(type="number" class="form-control" name="max" placeholder="Maximum...?" required)
						
						
					center
						input(type="submit" class="btn btn-primary btn-md" value="Search")
	div(class="hidden-lg hidden-md col-sm-12 col-xs-12")
		div(class="btn-group")
			a(href="#" class="btn btn-primary btn-lg ") Search For Rentals
			a(href="#" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false") 
				i(class="fa fa-search" style="Color:white;padding-left:4px;")
			ul(class="dropdown-menu")
				li
					form(action="/search" method="POST")
						legend Search for apartments	
							label(for="housing_type") Housing Type:				
							select(name="housing_type" class="form-control" required)
								Option(default) 	
								Option(value="Apartment") Apartment
								Option(value="Houses") House
							label(for="bedrooms") Bedrooms:
							input(type="number"  placeholder="Bedrooms" name="bedrooms" class="form-control" required)
							label(for="bathrooms") Bathrooms:
							input(type="number"  placeholder="Bathrooms" name="bathrooms" class="form-control" required)
							label(for="state" ) State:
							select(name="state" class="form-control" required)
								each state in state_options
									option(value=state.abbreviation) #{state.abbreviation}		
							label(for="city") City:
							input(type="text" placeholder="City" name="city" class="form-control" required)
							br
							u
								b
									| Budget:
							label(for="min") Min $:
							input(type="number" class="form-control" name="min" placeholder="Minimum...?" required)
							label(for="max") Max $:
							input(type="number" class="form-control" name="max" placeholder="Maximum...?" required)
							center
								input(type="submit" class="btn btn-primary btn-md" value="Search")
			br
	div(class="col-lg-6 col-sm-12")
		h3(style="padding-left:3px;") Results that match your requirements: 
		div(style="border-style:;border-top:1px solid black;padding-left:10px;")		
			br
			unless Results.id
				each Result in Results
					a(href="/listing-info/" + Result.id)
						div(class="jumbotron" style="border-radius:10px;border-style:solid;border-color:pink;border-width:15px;")
							div(class="media" style="color:grey;" )
								div(class="media-left")
									img( style="height:75px;width:75px;",src= "/listing_images/" +Result.img)
								div(class="media-body")			
									h4(class="media-heading") #{Result.title}
									ul
										b
											li 
												| Bedrooms: !{Result.bedrooms}
											li 
												| Bathrooms: !{Result.bathrooms}
											li 
												| Cost: !{Result.price} /month

					br
		if !Results
			p No Results.
		
		h4(style="padding-left:5px;") All Results in the same city within your budget:
		br
		div(style="border-style:;border-top:1px solid black;padding-left:10px;")
			br
			unless City_Results.id
				each City_Result in City_Results
					a(href="/listing-info/" + City_Result.id)
						div(class="jumbotron" style="border-radius:7px;background-color:pink;")
							div(class="media" )
								div(class="media-left")
								div(class="media-body")			
									h4(class="media-heading") #{City_Result.title}
									ul
										b
											li 
												| Bedrooms: !{City_Result.bedrooms}
											li 
												| Cost: !{City_Result.price} /month
		if !City_Results
			p No Results.